* {
  margin: 0;
  padding: 0;
}

body {
    animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

.termTitle{
    font-size: 30px;
}

#titleImg{
    width:100%;
}